.footer {
    text-align: center;
    background-color: #f0f2f5;
    padding: 50px 20px;
  }
  
  .footer h3 {
    margin-bottom: 20px;
  }
  
  .footer a {
    color: #1890ff;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    margin-right: 10px;
  }